langchain 
langchain_core
langchain_community 
langchain-openai 
scikit-learn 
langchain-ollama  
requests
ipykernel
chromadb
bs4
python-dotenv
ipywidgets
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langgraph-prebuilt
tavily
sounddevice
pypdf
fastmcp
mlflow
langchain-mcp-adapters
nbconvert

