python310env/
spark-apps/
spark-events/
delta-tables/
.ipynb_checkpoints/
__pycache__/
artifacts/
logs/
*.log
python310env/
home/
data/
.ivy2/
*json*
*.pyc
fhv*
green*
yellow*
part*
*.crc
*.pdb
venv/
env/
.venv/
.env/
