langchain 
langchain_community 
langchain-openai 
scikit-learn 
langchain-ollama  
requests
ipykernel
chromadb
bs4
python-dotenv
ipywidgets
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
sounddevice